@font-face {
    font-family: 'Simple';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GabiaDun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-1@1.0/GabiaDunn-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
body{
   margin: 0;
  padding: 0;
}
.container{
 display: flex;
 justify-content: center;
  align-items: center;
  height: 100vh;
}
.tittle{
  font-family: 'Simple';
  text-align: center;
  font-size: 60px;
  color: rgb(255, 255, 255);
  padding: 20px;
  background-color: rgb(36, 195, 15);
}
.box-tittle{
  color:#000;
  text-align: center;
  font-family: 'GabiaDun';
}
h2{
  color:#faa609;
  font-family: 'Simple';
  text-align: center;
}
.box{
  border: 10px solid rgb(5, 91, 12);  
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  border-radius:30px;
  margin: 10px;
}
.vs{
  font-size: 100px;
  padding: 60px;
  font-family: 'GabiaDun';
}
@keyframes flicker {
  0%, 100% {
    opacity: 1;
    box-shadow: 
      0 0 5px #84e7f3,
      0 0 10px #08d3e5,
      0 0 80px #fbfbfb;
  }
  50% {
    opacity: 0.8;
    box-shadow: 
      0 0 3px #e01515,
      0 0 30px #00e5ff,
      0 0 60px #00e5ff;
  }
}
.item-img{
  width: 250px;  
  height: 250px;
  display: flex;
  justify-self: center;
}
.main{
  display: flex;
  justify-content: center;
}
.play-button{
   display: flex;
  justify-content: center;
}
.play-button button{
  cursor: pointer;
  width: 70px;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  border:none;
  background-color: rgb(225, 222, 222);
}
.play-button button:nth-child(1){
  background-color: rgb(91, 239, 222);
}
.play-button button:nth-child(2){
  background-color: rgb(238, 130, 164);
}
.play-button button:nth-child(3){
  background-color: rgb(244, 213, 88);
}
.result{
  margin : 15px auto;
  width: 100px;
  padding: 10px;
  border: 1px solid #fdfdfd;
  color:#ffffff;
  border-radius: 20px;
  background-color: rgb(255, 43, 43);
}

.item:hover .front img {
  animation: ani 1s linear infinite;
}
.title:hover{
 transform: rotateY(360deg);
}
@keyframes ani {
  0%,100% {
    transform: scale(0.9)
  }
  50% {
    transform: scale(1.1)
  }
}
.win {  border: 10px solid rgb(23, 163, 228);  color: red;   animation: flicker .5s infinite alternate;  }
.lose { border: 10px solid red;  color: red;  }
.tie {  border: 10px solid black;  color: black; }

.result.win{
   border: 0;
  background-color: rgb(14, 109, 211);
  color:#fff;
  animation: flicker;
}
.result.lose{
   border: 0;
  background-color: rgb(218, 40, 40);
  color:#fff;
  animation: flicker;
}
.result.tie{
   border: 0;
  background-color: rgb(83, 83, 82);
  color:#fff;
  animation: flicker;
}

@media(max-width:768px){
  .container{
  height: auto;
}
  .main{
    flex-direction: column;
    align-items: center;
  }

.tittle{
  font-size: 30px;
  margin-bottom: 20px;
}
.box-tittle{
 font-size: 20px;
}
h2{
  color:#faa609;
  font-size: 18px;
}
 .box{
  width: 300px;
  height: 300px;
  margin: 5px;
}
 .vs{
  font-size: 50px;
  padding: 10px;
  font-family: 'GabiaDun';
} 
.item-img{
  width: 120px;  
  height: 120px;
}
.result{
   width: 40px;
  padding: 7px;
  font-size: 14px;
}
.main button{
  display: flex;
  justify-content: center;
}
.vs{
  font-size: 30px;
}
}

